.cursor-pointer {
    cursor: pointer;
}

#images-preview img {
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
}

.select-layout img {
    width: 150px;
    height: 150px;
}

.select-layout input[type="checkbox"]:checked + img {
    opacity: .7;
}

#thumbnail img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}